/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.portfolio__image__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-bottom: 2rem;
    justify-items: center;
}

.portfolio__image__container__wide {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-bottom: 2rem;
    justify-items: center;
}

.portfolio__image__container__wide__twoImages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-bottom: 2rem;
    justify-items: center;
}

.portfolio__Swiper {
    background: var(--color-bg-variant);
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    width: 90%;
    border-color: var(--color-primary-variant);
    animation-name: fadeIn;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-timeline: view();
    animation-range: entry;
}

.portfolio__Swiper__Image__AR {
    width: 10.6vw;
    height: 23vw;
    overflow: hidden;
    border-radius: 2rem;
    transition: var(--transition);
}

.portfolio__Swiper__Image__Legends {
    width: 24vw;
    height: 13vw;
    overflow: hidden;
    border-radius: 2rem;
    transition: var(--transition);
}

.portfolio__Swiper__Image__My_Vehicles {
    width: 24vw;
    height: 13vw;
    overflow: hidden;
    border-radius: 2rem;
    border: 1px solid transparent;
    border-color: var(--color-primary-variant);
    transition: var(--transition);
}

.portfolio__Swiper__Image__Blender {
    width: 24vw;
    height: 13vw;
    overflow: hidden;
    border-radius: 2rem;
    transition: var(--transition);
}

.portfolio__Swiper__Image__Meals {
    width: 10.6vw;
    height: 23vw;
    overflow: hidden;
    border-radius: 2rem;
    transition: var(--transition);
}

.lastSlide {
    text-align: center;
    /* margin-top: 18rem; */
    margin-top: 30vh;
    /* top: 50vh; */
    vertical-align: middle;
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
}

.portfolio__Swiper__Image__AR:hover {
    transform: scale(1.1);
}

.portfolio__Swiper__Image__Legends:hover {
    transform: scale(1.1);
}

.portfolio__Swiper__Image__My_Vehicles:hover {
    transform: scale(1.1);
}

.portfolio__Swiper__Image__Blender:hover {
    transform: scale(1.1);
}

.portfolio__Swiper__Image__Meals:hover {
    transform: scale(1.1);
}

.portfolio__Swiper__Icon {
    color: var(--color-primary);
    font-size: 1.4rem;
}

.portfolio__item {
    padding: 3rem;
    height: 100%;
    width: 100%;
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item h3 {
    margin: 2rem 0 2rem;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* ===================== MEDIA QUERIES (MEDIUM DEVICES) ========================= */
@media screen and (max-width: 1024px){
    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* ===================== MEDIA QUERIES (SMALL DEVICES) ========================= */
@media screen and (max-width: 600px){
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .portfolio__image__container__wide {
        grid-template-columns: 1fr;
    }

    .portfolio__image__container__wide__twoImages {
        grid-template-columns: 1fr;
    }

    .portfolio__image__container {
        grid-template-columns: 1fr;
    }


    .portfolio__Swiper__Image__Legends {
        width: 63vw;
        height: 17.2vh;
    }
    
    .portfolio__Swiper__Image__Blender {
        width: 64vw;
        height: 20vh;
    }

    .portfolio__Swiper__Image__My_Vehicles{
        width: 64vw;
        height: 20vh;
    }

    .portfolio__Swiper__Image__AR{
        width: 35vw;
        height: 43vh;
    }

    .portfolio__Swiper__Image__Meals{
        width: 35vw;
        height: 43vh;
    }
}